// COLORS
$color-primary-light: #ff9a3c;
$color-primary-dark: #ff6f3c;
$color-secondary: #ffc93c;
$color-tertiary: #155263;
$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size: 5.8vmin;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
