body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1;
  color: $color-black;
  padding: 3rem;
}

.header__hero-tagline {
  display: flexbox;
  top: 20%;
  font-family: "Roboto", sans-serif;
  color: $color-secondary;
  font-weight: 900;
  text-shadow: 3px 3px 0 $color-tertiary, 3px -3px 0 $color-tertiary,
    -3px 3px 0 $color-tertiary, -3px -3px 0 $color-tertiary,
    3px 0px 0 $color-tertiary, 0px 3px 0 $color-tertiary,
    -3px 0px 0 $color-tertiary, 0px -3px 0 $color-tertiary;
  line-height: 1.2;

  @media (orientation: portrait) {
    transform: translateX(-5%);
  }

  &--one {
    display: flex;
    justify-content: center;
  }
  &--two {
    display: flex;
    justify-content: center;
  }
}
